@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

.clear {
  clear: both;
}

.container {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin-top: 60px;
  display: flex;
  gap: 12px;
  justify-content: center;    
  border-radius: 25px;
  -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  background-color: #222831;
  color: #772e2e;
  height: 550px;
}

.weather-side {
  position: relative;
  height: 100%;
  border-radius: 25px;
  background-image: url("../../documants/weather.jpg");
  background-size: cover;
  background-position: -185px;
  width: 500px;
  -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
          transform: translateZ(0) scale(1.02) perspective(1000px);
  float: left;
  color: #222831;
}

.weather-side:hover {
  -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
          transform: scale(1.1) perspective(1500px) rotateY(10deg);
}

.weather-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: var(--gradient);
  border-radius: 25px;
  opacity: 0.8;
}

.date-container {
  position: absolute;
  top: 25px;
  left: 25px;
}

.date-dayname {
  margin: 0;
}

.date-day {
  display: block;
}

.location {
  display: inline-block;
  margin-top: 10px;
}

.location-icon {
  display: inline-block;
  height: 0.8em;
  width: auto;
  margin-right: 5px;
}

.weather-container2 {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.weather-icon.feather {
  height: 60px;
  width: auto;
}

.weather-temp {
  margin: 0;
  font-weight: 700;
  font-size: 4em;
}

.weather-desc {
  margin: 0;
}

.info-side {
  float: left;
  height: 100%;
  width:450px;
  padding-top: 25px;
}

.today-info {
  padding: 15px;
  margin: 0 25px 25px 25px;
/*  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
  color: white;
}

.today-info>div:not(:last-child) {
  margin: 0 0 10px 0;
}

.today-info>div .title {
  float: left;
  font-weight: 700;
}

.today-info>div .value {
  float: right;
}

.week-list {
  justify-content: center;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 10px 35px;
  -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  
}

.week-list>div {
  display:flex;
  height: 4cm;
  flex-direction: row;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  border-radius: 10px;
  width: 75px;
  text-align: center;
  gap: 12px;
  align-items: center;
}

.week-list>div:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background: #fff;
  color: #222831;
  -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2)
}

.active {
  text-align: justify;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  background: rgb(185, 185, 185);
  color: #222831;
  border-radius: 10px;
  align-items: center;
  position: relative;
}

.dayname .day-temp .dayicon {
  text-align: center;
}

