body {
    background: url("../documants/umbrella.jpg") center fixed;
    background-size: cover;
    flex-wrap: wrap;
}

html, body {
    padding: 0;
    margin: 0;
    }


.spinnerStyle {
        flex: 1;
        margin-Top:240;
        justify-Content: 'center';
        align-Items:'center';
}