.footer {
    color: white;
    text-align: center;
    font-weight: 1000px;
    font-style: italic;
    font-size: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(116, 7, 7);
    color: white;
    text-align: center;
}